@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: rgb(248 250 252);
  --surface-2: rgb(241 245 249);
  --surface-inverted: rgb(30 41 59);
  --text-regular: rgb(30 41 59);
  --text-regular-inverted: rgb(241 245 249);
  --primary: rgb(50, 98, 115);
  --secondary: rgb(127, 156, 170);
  --ternary: rgb(203, 213, 225);
  --overlay-background: rgba(0, 0, 0, 0.5);
  --alert: rgb(243, 91, 91);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --carousel-arrow-bg-color: grey;
  --star-color: rgb(228, 198, 2);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.text-overflow-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fieldset-legend {
  position: relative;
  --char-length: 2ch;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: calc(50% - var(--char-length) / 2);
    height: 2px;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: calc(50% - var(--char-length) / 2);
    height: 2px;
    background-color: currentColor;
  }
}

.fixed-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 100%;
  }
  &:hover::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 999999px;
  }
}

@media screen and (max-width: 768px) {
  .hide-mobile-view {
    display: none !important;
  }
}
